<div class="container">
    <div class="row">
      <div class="col">
        <div>
          {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
          <a [routerLink]="['/actualiza-empleado',indice]" [queryParams]="{accion:'1'}">
            Actualiza
          </a>
          
          <!--Dos espacios horizontales-->
          &nbsp;&nbsp;
          <a [routerLink]="['/actualiza-empleado',indice]" [queryParams]="{accion:'2'}">
            Elimina
          </a>
        </div>

      </div>
    </div>
    <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>

  </div> 


<ul style="list-style: none;">
    <li *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</li>
  </ul>