<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/proyectos">Proyecto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quienes-somos">¿Quiènes somos?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contacto">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/actualiza-empleado">Actualiza Empleado</a>
    </li>
  </ul>

</nav>

<router-outlet></router-outlet>
 
 